<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quagnitia.studentattendance">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".initials.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".initials.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".initials.RegisterationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".initials.ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AddStudentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.StudentListingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AddSubjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AddClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.ViewAllClassesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.ViewAllSubjectsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.AddTeacherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.ViewAllTeachersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".initials.RoleSelectionActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".admin.ViewAllStudentActivity" />
        <activity android:name=".teacher.AttendanceEntryActivity" />
        <activity android:name=".teacher.AttendanceReportActivity" />
        <activity android:name=".teacher.AddExamActivity"></activity>
    </application>

</manifest>